<section class="text-gray-400 body-font bg-gray-900">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white">  welcome to Devna Hostal</h1>
        <div class="h-1 w-40 bg-yellow-500 rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-400 text-opacity-90">Hostal situated near IMA hall nadakkav with pg accomodation with food(വയറു കേടാവാതെ ഇരുന്നാൽ ഭാഗ്യം 😉 ).Bedroom with full time മൂട്ട 👀. full time cloth anchoring facility and bathroom with fulltime water availability(ക്ലോസറ്റ് ലീക്കാണ്  അത് വേറെ കാര്യം 😏). balcony spacious enough for chit chats(സിഗരറ്റ് വലിക്കാൻ 🫣)  <br> കേറി പോര് പിള്ളാരെ ... അടിച്ചു കേറി വാ ....😎 </p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
          
          <a [routerLink]="['/bedroom']">
            <img class="h-40 rounded w-full object-cover object-center mb-6" [src]="bedroom" alt="content">
          </a>
          

          
          <h2 class="text-lg text-white font-medium title-font mb-4">Bed-Room</h2>
          <p class="leading-relaxed text-base">Spacious Beds with daily മൂട്ട കടി</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
          <a [routerLink]="['/livingroom']">
          <img class="h-40 rounded w-full object-cover object-center mb-6" [src]="livingroom" alt="content">
          </a>
          <h2 class="text-lg text-white font-medium title-font mb-4">Living Room</h2>
          <p class="leading-relaxed text-base">Living room with cloth hangering facility</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
          <a [routerLink]="['/kitchen']">
          <img class="h-40 rounded w-full object-cover object-center mb-6" [src]="kitchen" alt="content">
          </a>
          <h2 class="text-lg text-white font-medium title-font mb-4">Kitchen</h2>
          <p class="leading-relaxed text-base">Kitchen with Bed, olso leaking full time pipe.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
          <a [routerLink]="['/bathroom']">
          <img class="h-40 rounded w-full object-cover object-center mb-6" [src]="bathroom" alt="content">
          </a>
          <h2 class="text-lg text-white font-medium title-font mb-4">BathRoom</h2>
          <p class="leading-relaxed text-base">Bathroom with pungent odor and leaking closet</p>
        </div>
      </div>
    </div>
  </div>
</section>